
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Awesome Book store";
}

<p>

    @if (User.Identity.IsAuthenticated)
    {
        @:Hello @User.Identity.Name
        <a href="@Url.Action("logout", "auth")">Log Out</a>
    }
    else
    {
        <a href="@Url.Action("login", "auth")">Log In</a>
    }
</p>
@Html.ActionLink("Search for a book by title", "Search", "Books")
<br />
@Html.ActionLink("List all books in the store", "Index", "Books")
<br />


