@model IEnumerable<BookStore.Models.Cart>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Customer
            </th>        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                <!-- TODO really display this right, this is a hack-->
                @Html.DisplayFor(modelItem => item.Books[0].Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserName)
            </td>            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CartID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CartID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CartID })
            </td>
        </tr>
    }
    
    </table>
    <br />
    @Html.ActionLink("Home", "Index", "Home")
</body>
</html>
